// .lk-settings ====================================================================================================
.lk-settings {
    padding: 50px 5px 80px;
	padding-left: 15px;
	min-height: 700px;

	@include media-breakpoint-down(lg) {
		padding-right: 0;
		padding-left: 0;
	}

    &__title {
		display: flex;
		align-items: center;
		gap: 10px;
        margin-bottom: 64px;
        @include fontCompressor(32px, 500, 44px);

		@include media-breakpoint-down(lg) {
			@include fontCompressor(18px, 500, 30px);
			margin-bottom: 40px;
		}

		&_small {
			margin-bottom: 25px;
			@include fontCompressor(24px, 400, 1);
		}

		button {
			display: flex;
			align-items: center;
			padding: 8px;
			border: $border-gray;
			border-radius: 10px;

			.icon {
				@include svg-fill-transparent($color-red, 14px, 14px);
			}
		}
    }

    &__list {
        position: relative;
		@include list-reset;
		margin-bottom: 74px;
		gap: 30px;
		@include before(bottom, -10px, 100%, 1px, $color-gray-200);
		overflow: visible;

		@include media-breakpoint-down(lg) {
			margin-bottom: 40px;
		}

		&:before {
			opacity: 1;
		}

		&_mb20 {
			margin-bottom: 20px;
		}
    }

    &__item {
        @include fontCompressor(18px, 300, 1);

        a {
			position: relative;
			display: flex;
			width: max-content;
			transition: color $transition;
			text-decoration: none;
			color: $color-gray-400;
			
            @include before(bottom, -10px, 100%, 1px, $color-red);

			@include media-breakpoint-down(md) {
				font-size: 14px;
			}

			&.action,
			&:hover {
				color: $color-red;

				&:before {
					opacity: 1;
					z-index: 1;
				}
				
			}
        }
    }

	&__spread {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border: $border-gray;
		border-radius: 10px;

		.icon {
			@include svg-fill-transparent($color-black, 14px, 14px);
		}
	}
	

	&__btn-dom {
		display: flex;
		justify-content: space-between;
	}
}

// .lk-system ====================================================================================================
.lk-system {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		background: $color-gray-200;
	}

	&_pb-65 {
		padding-bottom: 65px;
	}

	&__list {
		gap: 30px 0;

		@include media-breakpoint-down(lg) {
			gap: 20px 0;
		}
	}

	img {
		@include media-breakpoint-down(lg) {
			height: 50px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: $border-gray;
		border-radius: 10px;
	}

	&__top {
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 30px 0;

		p {
			width: min-content;

			@include media-breakpoint-down(lg) {
				font-size: 12px;
			}
		}
	}
}

// .lk-results ====================================================================================================
.lk-results{
	padding-top: 20px;

	h3 {
		margin-bottom: 25px;
		@include fontCompressor(18px, 500, 1);
	}

	h4 {
		@include fontCompressor(14px, 300, 19px);
		color: $color-black;
	}

	&__left {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		gap: 30px;
	}

	&__right {
		display: flex;
		justify-content: flex-end;
		padding: 0;
		padding-top: 10px;

		@include media-breakpoint-down(sm) {
			justify-content: initial;
			padding: 0 12px;
			padding-top: 20px;
		}
	}

	&__server {
		color: $color-gray-400;

		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			@include list-reset;

			li {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}

		.icon {
			fill: $color-green;
		}
	}

	&__btn {
		padding: 6px 30px;
		margin-bottom: 15px;
		@include fontCompressor(14px, 300, 19px);
	}

	&__btn-dom {
		display: flex;
		gap: 15px;
		color: $color-black;
	}

	&__quantity {
		display: block;
		padding: 5px 10px;
		border-radius: 5px;
		background-color: $color-gray-250;
		@include fontCompressor(12px, 300, 16px);
	}

	&__payment {
		@include fontCompressor(36px, 500, 50px);
		color: $color-red;
		margin-bottom: 25px;

		@include media-breakpoint-down(md) {
			margin-bottom: 15px;
			font-size: 30px;
		}
	}
}