section.about.section.section_bg-gray
    .container 
        .row
            .col-12.col-lg-6.col-xl-5.pe-lg-0 
                img.about__img-decs(src="img/about.png", alt="Фото серверов")
            .col-12.col-lg-5.col-xl-6.about__left.about__left_p-90-decs
                h2.about__title.section-title О компании
                img.about__img-mob(src="img/about.png", alt="Фото серверов")
                .about__block-text
                    p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности предоставляет широкие возможности для своевременного выполнения сверхзадачи.
                    p Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции способствует подготовке и реализации новых предложений. 
                .about__btn-dom
                    a.button.button_transparent-red(href="#") Подробнее