section.section.advantage
    .container
        .row
            .col-12
                    ul.row.advantage__list.advantage__list_gap-35 
                        li.col-12.col-lg-4.advantage__item.advantage__item_w-30
                            +icon('message')
                            h3.advantage__tetle Круглосуточная техническая поддержка
                            p.advantage__text Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. 
                        li.col-12.col-lg-4.advantage__item.advantage__item_w-30
                            +icon('screen')
                            h3.advantage__tetle KVM 
                                span Консоль
                            p.advantage__text Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. 
                        li.col-12.col-lg-4.advantage__item.advantage__item_w-30
                            +icon('speed')
                            h3.advantage__tetle Мониторинг и 70 ТБ на скорости 10 Гбит/сек
                            p.advantage__text Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. 