section.data-center.section.section_p-vertical
    .container 
        .row.justify-content-between
            .col-12.col-lg-6.col-xl-5.data-center__left
                h2.data-center__title.section-title Наш дата-центр 
                .data-center__img-mob
                    img(src="img/data-center.png", alt="Фото серверов")
                address
                    .data-center__city 
                        +icon('local')
                        span Москва
                    p Улица Цветочная, дом 9
                p Серверы размещаются в наших современных и надежных ЦОДах уровня Tier 3, поэтому uptime на уровне 99,98%
                ul.row 
                    li.col-12.col-lg-6.col-xl-6
                        .data-center__big-text 1900
                            span  м2
                        p.data-center__desc Площадь серверных
                    li.col-12.col-lg-6.col-xl-4
                        .data-center__big-text 365
                            span  шт
                        p.data-center__desc Шкафов всего
                    li.col-12.col-lg-6.col-xl-6
                        .data-center__big-text 9.6
                            span  МВт
                        p.data-center__desc Мощность
                    li.col-12.col-lg-6.col-xl-4
                        .data-center__big-text 9
                            span  КВт
                        p.data-center__desc На шкаф
            .col-12.col-lg-5
                img.data-center__img-decs(src="img/data-center.png", alt="Фото серверов")