footer.footer
    .footer__top
        .container
            .row.footer__row
                    .col-12.col-lg-4.order-1.order-lg-0.pe-0
                        .footer__info
                            img(src="img/logo.svg", alt="логотип TOP SERVER")
                            p.pb-4 Задача организации, рост и сфера нашей активности предоставляет широкие возможности для своевременного выполнения сверхзадачи. 
                            ul.footer__social
                                li  
                                    a(href="#")
                                        +icon("social-tg")
                                li  
                                    a(href="#")
                                        +icon("social-mail")
                                li  
                                    a(href="#")
                                        +icon("social-wt")
                    .col-12.col-lg-2.pe-0
                        .footer-group(data-accordion='FAQ')
                            button.button.footer-group__title(data-accordion-top) Услуги
                                +icon("list-arrow")
                            ul.footer-menu.footer-menu-left(data-accordion-body)
                                li
                                    a(href="#") SSL-сертификаты
                                li
                                    a(href="#") Резервное копирование
                                li
                                    a(href="#") Гигабитный канал
                                li
                                    a(href="#") Защита DDoS
                                li
                                    a(href="#") Сетевые услуги
                    .col-12.col-lg-2
                        .footer-group(data-accordion='FAQ')
                            button.button.footer-group__title(data-accordion-top) Сервера
                                +icon("list-arrow")
                            ul.footer-menu.footer-menu-right(data-accordion-body)
                                li
                                    a(href="#") Аукцион серверов
                                li
                                    a(href="#") Серверы Intel Core
                                li
                                    a(href="#") Серверы AMD Ryzen
                                li
                                    a(href="#") Серверы для 1C
                                li
                                    a(href="#") Конструктор сервера
                                li
                                    a(href="#") Готовые серверы
                    .col-12.col-lg-2.d-flex.flex-column.p-lg-0
                        .footer-group.mb-4(data-accordion='FAQ')
                            button.button.footer-group__title(data-accordion-top) Клиентам
                                +icon("list-arrow")
                            ul.footer-menu(data-accordion-body)
                                li
                                    a(href="#") Регистрация
                                li
                                    a(href="#") Вход в личный кабинет
                        .footer-group(data-accordion='FAQ')
                            button.button.footer-group__title(data-accordion-top) Контакты
                                +icon("list-arrow")
                            ul.footer-menu(data-accordion-body)
                                li
                                    p Санкт-Петербург, проспект Невского 51к3
                                li
                                    a(href="https://t.me/@topserver") @topserver        
    .footer__copy
            .container
                .row
                    .col-12.d-flex.justify-content-center
                            p (c) 2023 TOP SERVER


