section.request.section.section_bg-red
  .container
      .row.d-flex.align-items-center.flex-column.flex-lg-row.justify-content-end
            .col-12.col-lg-6.d-flex.flex-column.mb-5.mb-lg-0
                  h2.section-title.section-title_color-light.pt-lg-2 Бесплатная консультация в нашем Telegram
                  p Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. Все его ресурсы — только ваши.
            .col-12.col-lg-6.d-flex.flex-column.align-items-center.ps-lg-5
                .request__img
                  img(src="img/barcode.png", alt="Штрихкод")
                a.request__link-box(href="https://t.me/@topserver")
                  +icon("tg-request")
                  span @topserver
