section.services
        .slider.services-slider
                .container
                    .row.slider-wrapper.services-slider__wrapper
                        .col-12.services-slide
                            .row
                                .col-10.col-lg-5.services-slide__content
                                    h2.services-slide__title Аренда выделенного сервера
                                    p Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. Все его ресурсы — только ваши.
                                    .services-slide__btn-dom
                                        a.button.button_red(href="#") Арендовать сервер
                                        a.button.button_transparent(href="#") Получить консультацию
                                .col-2.col-lg-7.services-slide__img
                                    img.services-slide__decs(src="img/services.png", alt="Фото серверов")
                                    img.services-slide__mob(src="img/services-one.png", alt="Фото серверов")
                        .col-12.services-slide
                                .row
                                    .col-10.col-lg-5.services-slide__content
                                        h2.services-slide__title Аренда выделенного сервера
                                        p Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. Все его ресурсы — только ваши.
                                        .services-slide__btn-dom
                                            a.button.button_red(href="#") Арендовать сервер
                                            a.button.button_transparent(href="#") Получить консультацию
                                    .col-2.col-lg-7.services-slide__img
                                        img.services-slide__decs(src="img/services.png", alt="Фото серверов")
                                        img.services-slide__mob(src="img/services-one.png", alt="Фото серверов")
                        .col-12.services-slide
                                .row
                                    .col-10.col-lg-5.services-slide__content
                                        h2.services-slide__title Аренда выделенного сервера
                                        p Арендуйте физический сервер с запуском от 2 минут и бесплатной заменой комплектующих. Все его ресурсы — только ваши.
                                        .services-slide__btn-dom
                                            a.button.button_red(href="#") Арендовать сервер
                                            a.button.button_transparent(href="#") Получить консультацию
                                    .col-2.col-lg-7.services-slide__img
                                        img.services-slide__decs(src="img/services.png", alt="Фото серверов")
                                        img.services-slide__mob(src="img/services-one.png", alt="Фото серверов")
                    .slider-interface
                            .slider-dots
                                .slider-dots__inner
                            .slider-nav
                                .d-flex.justify-content-center
                                    .slider-nav__inner