include ../components/_mixins

block vars
  - let pageTitle = "Базовый шаблон";

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= pageTitle
    link(rel="stylesheet", href="css/bundle.min.css")
    link(rel="stylesheet", href="css/style.min.css")
  body.page
    .page__wrapper.page__wrapper_border.nav 
                .container
                        .nav__wrapper
                            include ../components/_sidebar
                            .col-12.col-lg-9
                                .row
                                    .col-12.p-0
                                        nav
                                            a.nav__burger(href='javascript:void(0)')
                                                +icon("burger")
                                            ul.nav__bottom-list 
                                                li 
                                                    button.nav__btn 1900 ₽
                                                li 
                                                    a.nav__btn(href="mailto:topserver@gmail.com") topserver@gmail.com
                                                li 
                                                    a.nav__btn.nav__btn_color-red.nav__btn_bg-gray(href="./") 
                                                        span Выйти
                                                        +icon('entrance')
                                .row 
                                    .col-12.p-0 
                                        block content

    block scripts
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    script(src="js/main.min.js")