<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Клиентам</title>
  <link rel="stylesheet" href="css/bundle.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body class="page">
  <div class="page__wrapper">
    <div class="sidebar sidebar-close" id="sidebar">
      <div class="container-fluid">
        <div class="row sidebar-wrap">
          <div class="col-12 d-flex p-0">
            <a class="header-mobile__btn">Регистрация<svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#add-user"></use>
              </svg>
            </a>
            <a class="header-mobile__btn header-mobile__btn-color">Вход<svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#user"></use>
              </svg>
            </a>
          </div>
          <div class="col-12 sidebar-top__close d-flex justify-content-between">
            <a href="#">
              <img class="sidebar__img logo-sidebar" src="/assets/templates/10/img/logo.svg" alt="PANEX">
            </a>
            <a class="burger-close" id="closeSidebar" href="javascript:void(0);">
              <svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#close"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="row">
          <div id="mobileNav">
            <ul class="menu">
              <li class="menu__item">
                <a href="./index.html">Главная <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                  </svg>
                </a>
              </li>
              <li class="menu__item">
                <a href="./servers.html">Серверы <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                  </svg>
                </a>
              </li>
              <li class="menu__item">
                <a href="./services.html">Услуги <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                  </svg>
                </a>
              </li>
              <li class="menu__item">
                <a href="./contacts.html">Контакты <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="top-main-page">
      <div class="bg-wrapper-page">
        <header class="header">
          <div class="header-mobile">
            <a class="header-mobile__btn">Регистрация<svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#add-user"></use>
              </svg>
            </a>
            <a class="header-mobile__btn header-mobile__btn-color">Вход<svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#user"></use>
              </svg>
            </a>
          </div>
          <div class="header-top">
            <div class="container d-flex align-items-center">
              <div class="header-contact header-top__contact">
                <ul class="menu">
                  <li class="menu__item-top">
                    <a href="./about.html">О компании </a>
                  </li>
                  <li class="menu__item-top active">
                    <a href="./clients.html">Клиентам </a>
                  </li>
                  <li class="menu__item-top">
                    <a href="./help.html">Помощь </a>
                  </li>
                </ul>
              </div>
              <div class="header-contact header-top__contact d-flex flex-row">
                <div class="header-contact__content d-flex flex-row align-items-center">
                  <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#accept-email"></use>
                  </svg>
                  <a class="ms-1" href="mailto:topserver@gmail.com">topserver@gmail.com</a>
                </div>
                <div class="header-contact__content d-flex flex-row align-items-center">
                  <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#telegram"></use>
                  </svg>
                  <a class="ms-1" href="mailto:topserver">topserver</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header-body bg-white">
            <div class="container">
              <div class="header-body__container d-flex justify-content-between align-items-center">
                <a class="hmb header-burger header__burger d-flex d-xl-none" id="hmbOpen" href="javascript:void(0)">
                  <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#burger"></use>
                  </svg>
                </a>
                <a class="header-body__logo logo pt" href="./">
                  <img class="logo__main" src="/assets/templates/10/img/logo.svg" alt="логотип TOP SERVER">
                  <img class="logo__mob-page" src="/assets/templates/10/img/logo-page.svg" alt="логотип TOP SERVER">
                </a>
                <div class="header-body__right d-none d-xl-flex justify-content-between">
                  <nav class="header-body__nav d-none d-xl-flex">
                    <ul class="menu">
                      <li class="menu__item">
                        <a href="./index.html">Главная </a>
                      </li>
                      <li class="menu__item">
                        <a href="./servers.html">Серверы </a>
                      </li>
                      <li class="menu__item">
                        <a href="./services.html">Услуги </a>
                      </li>
                      <li class="menu__item">
                        <a href="./contacts.html">Контакты </a>
                      </li>
                    </ul>
                  </nav>
                  <div class="header-body__btn-block">
                    <a class="button button_transparent" href="#">Регистрация</a>
                    <a class="button button_red" href="settings.html">Войти</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="section section_p-vertical pages">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex flex-column align-items-start">
                <ul>
                  <li>
                    <a>Главная / </a>
                  </li>
                  <li class="active">
                    <a>Клиентам </a>
                  </li>
                </ul>
                <h1 class="section-title">Клиентам</h1>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <main class="main">
      <section class="product section section_pb100">
        <div class="container">
          <div class="row product__row">
            <div class="col-12 p-0">
              <div class="row product-list product-list_gap-30">
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Документы</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">DNS</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Конструктор и CMS</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Хостинг</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Серверы VPS</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Выделенные серверы и ДЦ</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">SSL-сертификаты</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Почта и сервисы</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Личный кабинет</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Финансовые вопросы</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Партнёрам</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="product-item">
                    <div class="product-item__wrapper">
                      <h3 class="product-item__title product-item__title_block-big">Правовые вопросы</h3>
                      <p class="product-item__text"> Финансово-коммерческая деятельность проекта Topserver.ru осуществляется от имени АО </p>
                      <div class="product-item__btn-dom">
                        <a class="button button_the-arrow" href="#">Подробнее <svg class="icon">
                            <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex flex-column">
            <div class="col-12 product__pagination">
              <ul class="pagination">
                <li class="control disabled item-none">
                  <button class="button button_the-arrow pagination__btn pagination__btn_prev">
                    <svg class="icon">
                      <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                    </svg>
                  </button>
                </li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li class="control item-none">
                  <button class="button button_the-arrow pagination__btn">
                    <svg class="icon">
                      <use xlink:href="/assets/templates/10/img/sprite.svg#more-detailed"></use>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-12 d-flex justify-content-center d-flex d-lg-none pt-2">
              <a class="section-link section-link_color-red" href="#">Смотреть все<svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#the-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row footer__row">
            <div class="col-12 col-lg-4 order-1 order-lg-0 pe-0">
              <div class="footer__info">
                <img src="/assets/templates/10/img/logo.svg" alt="логотип TOP SERVER">
                <p class="pb-4">Задача организации, рост и сфера нашей активности предоставляет широкие возможности для своевременного выполнения сверхзадачи. </p>
                <ul class="footer__social">
                  <li>
                    <a href="#">
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#social-tg"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#social-mail"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#social-wt"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-2 pe-0">
              <div class="footer-group" data-accordion="FAQ">
                <button class="button footer-group__title" data-accordion-top>Услуги<svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#list-arrow"></use>
                  </svg>
                </button>
                <ul class="footer-menu footer-menu-left" data-accordion-body>
                  <li>
                    <a href="#">SSL-сертификаты</a>
                  </li>
                  <li>
                    <a href="#">Резервное копирование</a>
                  </li>
                  <li>
                    <a href="#">Гигабитный канал</a>
                  </li>
                  <li>
                    <a href="#">Защита DDoS</a>
                  </li>
                  <li>
                    <a href="#">Сетевые услуги</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="footer-group" data-accordion="FAQ">
                <button class="button footer-group__title" data-accordion-top>Сервера<svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#list-arrow"></use>
                  </svg>
                </button>
                <ul class="footer-menu footer-menu-right" data-accordion-body>
                  <li>
                    <a href="#">Аукцион серверов</a>
                  </li>
                  <li>
                    <a href="#">Серверы Intel Core</a>
                  </li>
                  <li>
                    <a href="#">Серверы AMD Ryzen</a>
                  </li>
                  <li>
                    <a href="#">Серверы для 1C</a>
                  </li>
                  <li>
                    <a href="#">Конструктор сервера</a>
                  </li>
                  <li>
                    <a href="#">Готовые серверы</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-2 d-flex flex-column p-lg-0">
              <div class="footer-group mb-4" data-accordion="FAQ">
                <button class="button footer-group__title" data-accordion-top>Клиентам<svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#list-arrow"></use>
                  </svg>
                </button>
                <ul class="footer-menu" data-accordion-body>
                  <li>
                    <a href="#">Регистрация</a>
                  </li>
                  <li>
                    <a href="#">Вход в личный кабинет</a>
                  </li>
                </ul>
              </div>
              <div class="footer-group" data-accordion="FAQ">
                <button class="button footer-group__title" data-accordion-top>Контакты<svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#list-arrow"></use>
                  </svg>
                </button>
                <ul class="footer-menu" data-accordion-body>
                  <li>
                    <p>Санкт-Петербург, проспект Невского 51к3</p>
                  </li>
                  <li>
                    <a href="https://t.me/@topserver">@topserver </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <p>(c) 2023 TOP SERVER</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="js/main.min.js"></script>
</body>

</html>