<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Сеть газовых заправок</title>
  <link rel="stylesheet" href="css/bundle.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body class="page">
  <div class="page__wrapper">
    <div class="sidebar sidebar-close" id="sidebar">
      <div class="container-fluid">
        <div class="row sidebar-wrap">
          <div class="col-12 d-flex p-0">
            <a class="header-mobile__btn green" href="tel:89210113111">
              <svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#phone"></use>
              </svg>8 (921) 011-31-11
            </a>
            <button class="header-mobile__btn header-mobile__btn-color" data-fancybox="" data-animation-duration="50" data-src="#fastOrder" href="javascript:;">
              <svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#headphone"></use>
              </svg>Заказать звонок
            </button>
          </div>
          <div class="col-12 sidebar-top__close d-flex justify-content-between">
            <a href="#">
              <img class="logo-sidebar" src="/assets/templates/10/img/logo.svg" alt="PANEX">
            </a>
            <a id="closeSidebar" href="javascript:void(0);">
              <svg class="icon">
                <use xlink:href="/assets/templates/10/img/sprite.svg#close"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="row">
          <div id="mobileNav">
            <ul class="menu">
              <li class="menu__item menu__item_active">
                <a href="index.html">Главная </a>
              </li>
              <li class="menu__item">
                <a href="">Газификация</a>
                <svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                </svg>
              </li>
              <li class="menu__item">
                <a href="">Доставка газа</a>
                <svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                </svg>
              </li>
              <li class="menu__item">
                <a href="about.html">Услуги</a>
                <svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                </svg>
              </li>
              <li class="menu__item">
                <a href="about.html">Блог</a>
                <svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                </svg>
              </li>
              <li class="menu__item">
                <a href="about.html">О нас</a>
                <svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                </svg>
              </li>
              <li class="menu__item">
                <a href="contacts.html">Контакты</a>
                <svg class="icon">
                  <use xlink:href="/assets/templates/10/img/sprite.svg#menu-arrow"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="top-main-page">
      <div class="bg-wrapper">
        <header class="header">
          <div class="header-mobile d-flex d-lg-none">
            <a class="header-mobile__btn" href="tel:89210113111">8 (921) 011-31-11</a>
            <button class="header-mobile__btn header-mobile__btn-color" data-fancybox="" data-animation-duration="50" data-src="#fastOrder" href="javascript:;">Заказать звонок</button>
          </div>
          <div class="header-body">
            <div class="container">
              <div class="header-body__container d-flex justify-content-between align-items-center">
                <a class="hmb header-burger header__burger d-flex d-xl-none" id="hmbOpen" href="javascript:void(0)">
                  <svg class="icon">
                    <use xlink:href="/assets/templates/10/img/sprite.svg#burger"></use>
                  </svg>
                </a>
                <a class="header-body__logo logo pt" href="./">
                  <img src="/assets/templates/10/img/logo.svg" alt="Медтехника">
                </a>
                <nav class="header-body__nav nav d-none d-xl-block">
                  <ul class="menu">
                    <li class="menu__item">
                      <a href="./gasification.html">Главная </a>
                    </li>
                    <li class="menu__item">
                      <a href="./installation.html">Новости </a>
                    </li>
                    <li class="menu__item">
                      <a href="./services.html">Услуги </a>
                    </li>
                    <li class="menu__item">
                      <a href="./blog.html">Магазин </a>
                    </li>
                    <li class="menu__item">
                      <a href="./about.html">О нас </a>
                    </li>
                    <li class="menu__item">
                      <a href="./contacts.html">Контакты </a>
                    </li>
                  </ul>
                </nav>
                <a class="button button--main d-none d-lg-flex" href="tel:88142764301" data-fancybox="" data-animation-duration="50" data-src="#callBack">8 (8142) 76-43-01</a>
              </div>
            </div>
          </div>
        </header>
        <section class="page-main">
          <div class="container">
            <div class="row page-main__wrapper page-main__main">
              <div class="col-12 col-xl-9 page-main__left d-flex flex-column">
                <h1 class="page-main__title title">ГУП РК Медтехника</h1>
                <p>Представители современных социальных резервов, инициированные исключительно синтетически, заблокированы</p>
                <div class="col-12 d-flex justify-content-center justify-content-xl-start px-0">
                  <button class="button button--secondary"> Подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="chart">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="chart__position">
                <ul class="chart__list col-12 d-flex flex-column flex-xl-row">
                  <li class="bg-green-200 col-12 col-xl-4 d-flex flex-column">
                    <svg class="icon">
                      <use xlink:href="/assets/templates/10/img/sprite.svg#key"></use>
                    </svg>
                    <span class="chart__solid-line"></span>
                    <h3>Обслуживание и ремонт медтехники</h3>
                    <p>Рентген-диагностической аппаратуры, физиотерапевтической аппаратуры, кислородных систем</p>
                  </li>
                  <li class="bg-green-300 col-12 col-xl-4 d-flex flex-column">
                    <svg class="icon">
                      <use xlink:href="/assets/templates/10/img/sprite.svg#delivery"></use>
                    </svg>
                    <span class="chart__solid-line"></span>
                    <h3>Поставка медицинского оборудования</h3>
                    <p>Оснащение государственных и частных лечебных заведений современной медицинской мебелью и оборудованием</p>
                  </li>
                  <li class="bg-gray-100 col-12 col-xl-4 d-flex flex-column">
                    <svg class="icon">
                      <use xlink:href="/assets/templates/10/img/sprite.svg#watch"></use>
                    </svg>
                    <span class="chart__solid-line"></span>
                    <h3>Часы работы</h3>
                    <ul class="chart__mode">
                      <li class="d-flex justify-content-between">
                        <span class="col-4">Пн - Чт</span>
                        <span class="col-7">08:30 - 16:30</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <span class="col-4 d-flex align-items-center">Пятница</span>
                        <span class="col-7 col-xs-6 col-md-7">08:30-15:00 (Перерыв с 12:00 - 12:30)</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <span class="col-4">Сб, Вс</span>
                        <span class="col-7">Выходной </span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <main class="main">
      <div class="site-pages site-pages-station">
        <div class="container">
          <div class="row site-pages__wrapper">
            <div class="col-12"></div>
            <h1 class="col-12 page-top__title page-title page-title-station">Сеть газовых заправок</h1>
          </div>
          <svg class="iconBackground">
            <use xlink:href="/assets/templates/10/img/sprite.svg#pattern-page"></use>
          </svg>
        </div>
      </div>
      <div class="description description-gbo description-station">
        <div class="container d-flex flex-column">
          <div class="description-gbo__top">
            <div class="row description-gbo__wrapper description-gbo__wrapper--padding">
              <div class="col-lg-12 col-xl-12 d-flex">
                <h2 class="section-title">Сеть АГЗС</h2>
              </div>
            </div>
            <div class="row description-gbo__group">
              <img class="col-12 col-xl-6 col-lg-12 d-none d-xl-block" src="/assets/templates/10/img/station.jpg" alt="Газовоз">
              <div class="description-gbo__right col-12 col-xl-5 col-lg-12 d-flex flex-column justify-content-between align-items-start">
                <div class="col-xl-10 col-lg-12 p-0">
                  <h3>Карта сети газовых заправок РОСГАЗ по СПб, Ленинградской области, Карелии, Мурманску и Мурманской области</h3>
                  <img class="d-block d-xl-none" src="/assets/templates/10/img/station.jpg" alt="Газовоз">
                  <p>Компания РОСГАЗ за последние несколько лет открыла большое количество современных газовых заправок на территории Санкт-Петербурга, Ленинградской области, Республики Карелия, Мурманска и Мурманской области.</p>
                  <p>На заправках действует наличный и безналичный расчет, а также специальный расчет для корпоративных клиентов. На каждой АГЗС Вы можете заправить свой автомобиль, заправить газовый баллон.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-location">
        <div class="container">
          <div class="table-responsive-lg table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Название</th>
                  <th scope="col">Адрес</th>
                  <th class="text-center" scope="col">GPS координаты</th>
                  <th scope="col">Режим работы</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>АГЗС Тепличный</td>
                  <td>Петрозаводск, Шуйское шоссе, 18</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>АГЗС Сулажгора</td>
                  <td>Петрозаводск, ул. Новосулажгорская, 20</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>АГЗС Чапаева</td>
                  <td>Петрозаводск, Чапаева, д. 3</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
                <tr>
                  <th>4</th>
                  <td>АГЗС Древлянка</td>
                  <td>Петрозаводск, ул. Попова, 5</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
                <tr>
                  <th>5</th>
                  <td>АГЗС Заводская</td>
                  <td>Петрозаводск, Заводская 5с1</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
                <tr>
                  <th>6</th>
                  <td>АГЗС Ригачина</td>
                  <td>Петрозаводск, ул. Ригачина 27б</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
                <tr>
                  <th>7</th>
                  <td>АГЗС Вытегорское</td>
                  <td>Петрозаводск, Вытегорское шоссе, д.51</td>
                  <td class="text-center">
                    <button>
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#copy"></use>
                      </svg>
                    </button>
                  </td>
                  <td>с 06:00 до 23:45</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="map">
        <div class="conatainer">
          <div class="row h2 title">
            <div class="col-12 col-lg-12 d-flex align-items-center p-0 justify-content-cente">
              <img src="/assets/templates/10/img/map.jpg" alt="Фото человека с калькулятором">
            </div>
          </div>
        </div>
      </div>
      <section class="section request">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-10 col-lg-7 col-xxl-6">
              <h2 class="section-title section__title request__title">Бесплатная консультация</h2>
              <p class="section-subtext section__subtext request__subtext">Проконсультируем Вас по вопросам установки системы автономной газификации и доставки газа в Ленинградской области.</p>
            </div>
            <div class="col-12 col-lg-4 offset-xl-2 col-xl-3">
              <button class="button button--large request__btn button--blue">Заказать звонок</button>
            </div>
          </div>
        </div>
        <svg class="iconBackground">
          <use xlink:href="/assets/templates/10/img/sprite.svg#right-reguest"></use>
        </svg>
      </section>
    </main>
    <footer class="footer">
      <div class="container footer__container">
        <div class="row">
          <div class="footer__row d-flex">
            <div class="col-12 col-md-4 order-first order-md-first">
              <div class="footer__info">
                <a class="col-5 logo footer__logo-two" href="#">
                  <picture>
                    <source media="(min-width:325px) and (max-width: 900px)" srcset="/assets/templates/10/img/logo-gaz-min.svg">
                    <source media="(min-width:901px)" srcset="/assets/templates/10/img/logo-gaz.svg">
                    <img src="/assets/templates/10/img/350x350.gif" alt="PANEX">
                  </picture>
                </a>
                <p class="footer__address">Санкт-Петербург,
                  <br> Московское шоссе, 42. к.2
                </p>
                <a class="footer__email" href="mailto:inbox@rosgaz.info">inbox@rosgaz.info.к.2</a>
              </div>
            </div>
            <div class="col-12 col-md-3 d-lg-block">
              <div class="footer-group">
                <p class="footer-group__title">Услуги</p>
                <ul class="footer-menu">
                  <li>
                    <a href="./delivery.html">Доставка газа</a>
                  </li>
                  <li>
                    <a href="./installation.html">Установка ГБО</a>
                  </li>
                  <li>
                    <a href="./gasification.html">Автономная газификация</a>
                  </li>
                  <li>
                    <a href="./gas_station_chain.html">Сеть АГЗС</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-0">
              <div class="footer-group footer-group--two">
                <div class="footer-group__wrapper">
                  <p class="footer-group__title">Контакты</p>
                  <ul class="footer-contacts">
                    <li class="footer-contacts__item">
                      <span>Доставка газа</span>
                      <a href="tel:8 931 238-10-70">8 931 238-10-70</a>
                    </li>
                    <li class="footer-contacts__item">
                      <span>Установка ГБО</span>
                      <a href="tel:8 800 222-80-09">8 800 222-80-09</a>
                      <div class="socials footer__socials"></div>
                    </li>
                  </ul>
                </div>
                <ul class="socials__list col-12 col-md-6 col-lg-4 offset-lg-0 justify-content-start justify-content-xl-end px-0">
                  <li>
                    <a href="#" target="_blank" aria-label="Перейти в Вконтакте">
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#vk"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank" aria-label="Перейти в Instagram">
                      <svg class="icon">
                        <use xlink:href="/assets/templates/10/img/sprite.svg#insta"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 order-last">
            <div class="footer__copy">
              <div class="row align-items-center justify-content-between">
                <div class="col-12 col-xl-6">
                  <p>2020 © Группа компаний PANEX</p>
                </div>
                <div class="col-12 col-xl-6 footer__creator d-flex justify-content-start justify-content-xl-end">
                  <a href="https://pasternak.dev" target="_blank">Разработка сайта - Pasternak.DEV</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup" id="callBack">
      <div class="popup__wrapper">
        <div class="popup__header">
          <div class="row">
            <div class="col-12">
              <h3>Обратный звонок</h3>
            </div>
          </div>
        </div>
        <div class="popup__body">
          <form>
            <div class="form-group row">
              <div class="col-md-12">
                <input class="form-input" type="text" placeholder="Ваше имя">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input class="form-input" type="tel" placeholder="Ваш телефон">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div class="checkbox">
                  <input class="custom-checkbox" id="cons" type="checkbox" name="pers">
                  <label for="cons">
                    <a href="#">Даю<span>согласие на обработку персональных данных</span>
                    </a>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                <button class="button button--primary" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="popup" id="cities">
      <div class="popup__wrapper">
        <div class="popup__header">
          <div class="row">
            <div class="col-12">
              <h3>Города и регионы</h3>
            </div>
          </div>
        </div>
        <div class="popup__body">
          <div class="row">
            <div class="col-12">
              <ul class="city-domains">
                <li>
                  <a class="active" href="#">Петрозаводск</a>
                </li>
                <li>
                  <a href="#">Санкт-Петербург</a>
                </li>
                <li>
                  <a href="#">Мурманск</a>
                </li>
                <li>
                  <a href="#">Псков</a>
                </li>
                <li>
                  <a href="#">Нижний новгород</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="js/main.min.js"></script>
</body>

</html>