// * ====================================================================================================
// * Main Settings
// * ====================================================================================================

// Брейкпоинты для медиазапросов ====================================================================================================
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1200px,
  huge-desktop: 1400px,
);

// Максимальная ширина контейнера ====================================================================================================
$max-width-container: 1390px;

// Минимальная ширина страницы ====================================================================================================
$min-width-container: 280px;

// Отступы у контейнера ====================================================================================================
$container-padding: 50px;
$grid-gap: 30px;

// .container ====================================================================================================
.container {
  width: 100%;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 calc($container-padding / 2);
}
